# Segredo do JWT (DEV)
JWT_SECRET=supersecret123

# Portas dos serviços
MS_AUTH_PORT=3001
MFE_AUTH_PORT=4001
SHELL_PORT=3000

# Credenciais para LocalStack
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1

# Banco de dados
DB_HOST=ministack
DB_PORT=5432
DB_USER=chave
DB_PASSWORD=chave_secret
DB_NAME=chave_auth

# MFE URL (usada pelo shell)
MFE_AUTH_URL=http://localhost:4001/assets/remoteEntry.js