# Portas dos serviços
MS_AUTH_PORT=3001
MFE_AUTH_PORT=4001
SHELL_PORT=3000

# JWT
JWT_SECRET=change-me-in-production-use-strong-secret

# Banco de dados PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_USER=chave
DB_PASSWORD=chave_secret
DB_NAME=chave_auth

# MFE URL (usada pelo shell para Module Federation)
MFE_AUTH_URL=http://localhost:4001/assets/remoteEntry.js