# Porta do serviço
PORT=3001

# JWT
JWT_SECRET=supersecret123

# Banco (para rodar fora do docker-compose)
# Se estiver usando a stack via docker-compose, você não precisa deste .env.
DB_HOST=localhost
DB_PORT=5432
DB_USER=chave
DB_PASSWORD=chave_secret
DB_NAME=chave_auth

# Ministack / LocalStack
AWS_ENDPOINT=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1
